#textdomain wesnoth-The_South_Guard
[terrain] 
symbol_image=Great-tree-icon 
id=great-tree 
name= _ "Great Tree" 
char="x" 
[/terrain]

#Single hex Great-tree 
{SHEX x overlay 33 Great-tree3} 
{SHEX x overlay 25 Great-tree2} 
{SHEX x overlay 100 Great-tree1}

{TERRAIN_BASE_PROB            gfx grassland-r1 20} 
{TERRAIN_BASE_PROB            gfx grassland-r2 20} 
{TERRAIN_BASE_PROB            gfx grassland-r3 20} 
{TERRAIN_BASE                 gfx grassland-r4}

{TERRAIN_ADJACENT          -189        ftgvXx  ks      grassland-to-water} 
{TERRAIN_ADJACENT          -190        ftgvXx  cZp\|/  grassland-to-water} 
{TERRAIN_ADJACENT          -191        ftgvXx  s       grassland-to-water}
